# Local development
VITE_API_BASE_URL=http://localhost:7272
# VITE_SOCKET_BASE_URL=http://localhost:7272
# VITE_SOCKET_IO_PATH=/socket.io

# Production build
# VITE_API_BASE_URL=https://indiro.ru/api-v2
# VITE_SOCKET_BASE_URL=https://indiro.ru
# VITE_SOCKET_IO_PATH=/api-v2/socket.io
